<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Registration Form</title>
</head>
<body>

<h3>Student Registration Form</h3>

<form th:action="@{/processStudentForm}" th:object="${student}" method="POST">

    First name: <input type="text" th:field="*{firstName}" />

    <br><br>

    Last name: <input type="text" th:field="*{lastName}" />

    <br><br>

    Country:

    <select th:field="*{country}">
        <option th:each="country : ${countries}" th:value="${country}" th:text="${country}"/>
    </select>

    <br><br>

    Favorite Programming Language:

    <input type="radio" th:each="lang : ${languages}" th:field="*{favoriteLanguage}" th:value="${lang}" th:text="${lang}"/>

    <br><br>

    Favorite Operating Systems:

    <input type="checkbox" th:each="system : ${systems}" th:field="*{favoriteSystem}" th:value="${system}" th:text="${system}"/>

    <br><br>

    <input type="submit" value="Submit" />

</form>

</body>
</html>